* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fcfcfc;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    padding-inline: 40px;
    padding-block: 20px;
}

main {
    padding: 30px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #131E32;

    padding-block: 20px;
}

a {
    text-decoration: none;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}